<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Menú</title>
</head>
<body>
  <h1>Menú de Navegación</h1>
  <h3>Clase S4 - DeSolNube-TECSUP
    <BR></BR>Alumno: Santisteban Alcántara, Mario 5C24B
  </h3>
  <ul>
    <li><a href="/clientes">Ver Clientes</a></li>
    <li><a href="/productos">Ver Productos</a></li>
  </ul>
  <main>
    <p>¡Hola! Esta es la página de inicio de mi aplicación..</p>
  </main>
</body>
</html>